<header>
    <img src="https://imgs.search.brave.com/mDztPWayQWWrIPAy2Hm_FNfDjDVgayj73RTnUIZ15L0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzE1Lzg0LzQz/LzM2MF9GXzIxNTg0/NDMyNV90dFg5WWlJ/SXllYVI3TmU2RWFM/TGpNQW15NEd2UEM2/OS5qcGc"
        alt="1">
    <div class="btn-buscar" (click)="openBuscarPaciente()">
        <p>BUSCAR</p>
    </div>
</header>
<div class="contenedor">
    <div class="seccion-datos">
        <div class="titulo-datos">
            <h3>DATOS DEL USUARIO</h3>
            <img src="https://imgs.search.brave.com/fyr-uaMpy81-RfuH_ZqRYRis61h6JqzbiUlHFhsCB4U/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pY29u/LWxpYnJhcnkuY29t/L2ltYWdlcy9lZGl0/LWljb24tcG5nL2Vk/aXQtaWNvbi1wbmct/MjIuanBn"
                alt="">
        </div>
        <div class="contenedor-datos">

            <div class="datos">
                <label>
                    <h2>Nombre</h2>
                    <p>{{ usuario?.nombre || 'No especificado' }}</p>
                </label>
            </div>
            <div class="datos">

                <label>
                    <h2>Matricula</h2>
                    <p>{{ usuario?.matricula || 'No especificado' }}</p>
                </label>
            </div>
            <div class="datos">

                <label>
                    <h2>DNI</h2>
                    <p>{{ usuario?.dni || 'No especificado' }}</p>
                </label>
            </div>
            <div class="datos">
                <label>
                    <h2>Telefono</h2>
                    <p>{{ usuario?.telefono || 'No especificado' }}</p>
                </label>
            </div>
            <div class="datos">
                <label>
                    <h2>Especialidad</h2>
                    <p>{{ usuario?.especialidad || 'No especificado' }}</p>
                </label>
            </div>
        </div>
    </div>
    <button (click)="logout()">CERRAR SESION</button>
</div>