.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #79B4B7;
    padding: 20px;
}

.seleccion {
    background: #FEFBF3;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.37);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #8b8b8b;
    margin-top: 10px;
}

p {
    color: #979797;
}

.opciones-usuario {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    min-width: 200px;
    padding: 30px 20px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    h3 {
        color: #8b8b8b;
        margin-bottom: 10px;
    }

    p {
        color: #979797;
        font-size: 0.9rem;
        margin: 0;
    }
}

.card:hover {
    transform: translateY(-2px);
    border-color: #8b8b8b;
}

.register {
    margin-top: 2px;

    p {
        margin-top: 1px;
        margin-bottom: 2px;
        font-size: 1rem;
        color: #8b8b8b;
    }

    button {
        min-width: 200px;
        padding: 12px 30px;
        margin-top: 10px;
        border: 1px solid #79B4B7;
        border-radius: 25px;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.3s ease;
        background-color: #79B4B7;
        color: white;
    }

    button:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgb(255, 255, 255);
        border-color: #609092;
    }
}