<div class="contenedor">
  
  <div class="seleccion">

    <img src="assets/MediroomImage.jpeg" alt="Logo" class="logo" />

    <h1>Sistema de historial clínico</h1>
    <p>Seleccione su tipo de usuario</p>

    <div class="opciones-usuario">
      <div class="card" (click)="selectPaciente()">
        <h3>Paciente</h3>
        <p>Accede a tu historial</p>
      </div>
      
      <div class="card" (click)="selectProfesional()">
        <h3>Profesional</h3>
        <p>Médico o enfermero</p>
      </div>
      
      <div class="register">
        <p>¿No estás registrado?</p>
        <button class="register-button" routerLink="/register">Registrarse</button>
      </div>
    </div>
  </div>
</div>


<footer class="app-footer">
  <p>© 2025 - Sistema de Gestión de Pacientes MediRoom</p>
  <a href="#" class="footer-link">Políticas de Privacidad</a>
</footer>