<div class="contenedor">
  <div class="seleccion">
    <h2 *ngIf="tipoUsuario === 'profesional'">Login Profesional</h2>
    <h2 *ngIf="tipoUsuario === 'paciente'">Login Paciente</h2>
    
    <p *ngIf="tipoUsuario === 'profesional'">Acceso para médicos y enfermeros</p>
    <p *ngIf="tipoUsuario === 'paciente'">Acceso para pacientes</p>
    
    <form (ngSubmit)="onSubmit()">
      <div class="form-grupo">
        <label>DNI:</label>
        <input type="text" placeholder="00000000" maxlength="9" required formControlName="dni">
      </div>

      <div class="form-grupo">
        <label>Contraseña:</label>
        <input type="password" required formControlName="password">
      </div>

      <div class="form-grupo" *ngIf="tipoUsuario === 'profesional'">
        <label>Matrícula:</label>
        <input type="text" required formControlName="matricula">
      </div>

      <button class="ingreso" type="submit">Ingresar</button>
      <button class="ingreso" routerLink="/page-profesional" *ngIf="tipoUsuario === 'profesional'">ir pag</button>
      <button class="ingreso" routerLink="/page-paciente" *ngIf="tipoUsuario === 'paciente'">ir pag</button>
    </form>

    <button class="back" routerLink="/">← Volver</button>
  </div>
</div>