.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #79B4B7;
    padding: 20px;
}

.seleccion {
    background: #FEFBF3;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.37);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #8b8b8b;
    margin-top: 10px;
}

p {
    color: #8b8b8b;
    margin-bottom: 30px;
}

.opciones {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    max-width: 500px;
    width: 100%;
    padding: 20px 20px;
    padding-bottom: 5px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    h3 {
        color: #8b8b8b;
        margin-bottom: 10px;
    }

    p {
        color: #979797;
        font-size: 0.9rem;
        margin: 0;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 20px;
    text-align: center;

    li {
        color: #6666669c;
        margin-bottom: 8px;
        font-size: 0.9rem;
    }
}

.card:hover {
    transform: translateY(-2px);
    border-color: #8b8b8b;
}

.back {
    min-width: 200px;
    padding: 12px 30px;
    margin-top: 20px;
    border: 1px solid #79B4B7;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    background: #79B4B7;
    color: white;
}

.back:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgb(255, 255, 255);
    border-color: #609092;
}